feh --bg-scale /usr/share/pixmaps/background.jpg
xrandr --output DP1 --auto --left-of VGA1
ibus-daemon -d -x
synclient TapButton1=1
synclient VertScrollDelta=-111
synclient HorizTwoFingerScroll=1
xset r rate 200 30
xinput set-prop "Razer Razer Abyssus" "libinput Natural Scrolling Enabled" 1
xinput set-prop "PixArt USB Optical Mouse" "libinput Natural Scrolling Enabled" 1
